body{
  background-color: bisque
}

.container{
  display: flex;
  flex-wrap: wrap;
  border: solid 2px burlywood;
  height: 100vm;
  width: 100vm;
  margin:1em;
  padding: 1em;
  text-align: center;
}

.board{
  height: 40vh;
  width: 100vw;
  margin: 2em;
  background-color: #4b634f;
  border-radius: 5%;
  border-style: ridge;
  border-bottom-style: groove;
  border-color: #bf9c6e  #bf9c6e #7b6b6b #bf9c6e;
  border-width: 1em 1em 2em 1em;
}

.text{
  display: inline-block;
  margin: 10vh;
  font-size: 3em;
  color: #e0c8c8;
}

.button{
  display: block;
  margin: auto;
  padding: 1em 3em 1em 3em;
  background-color: #499c49;
  border-radius: 5%;
  color:  #e0c8c8;
  font-size: larger;
  font-family: sans-serif;
}

.button:hover{
  background-color: #1c881c;
}

.button:active{
  transform: translateY(8px);
}
