body {
  background-color: bisque;
  margin: 1%;
  padding: 1%;
  overflow: hidden;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border: solid 2px burlywood;
  height: 100%;
  width: 100%;
  text-align: center;
}

.name {
  float: right;
  margin: 3em .9em .9em .9em;
  font-size: .5em;
  font-family: cursive;

}

.board {
  margin: 2%;
  height: 60vh;
  overflow: hidden;
  background-color: #4b634f;
  border-radius: 5%;
  border-style: ridge;
  border-bottom-style: groove;
  border-color: #bf9c6e  #bf9c6e #7b6b6b #bf9c6e;
  border-width: 1em 1em 2em 1em;
}

.text {
  display: inline-block;
  margin: 1%;
  font-size: 3em;
  color: #e0c8c8;
}

.button {
  display: block;
  margin: 0 auto 2%;
  padding: 1em 3em 1em 3em;
  background-color: #499c49;
  border-radius: 5%;
  color:  #e0c8c8;
  font-size: larger;
  font-family: sans-serif;
}

#elipses {
  font-size: xx-large;
}

.button:hover {
  background-color: #1c881c;
}

.button:active {
  transform: translateY(8px);
}

#tweetBtn {
  background-color: #4275e8;
}

/* Media Queries to the window */
@media screen and (max-width: 830px) {
  .text {font-size: 2em;}
}

@media screen and (max-width: 480px) {
    .text {font-size: 1.8em;}
    .board {border-width: .5em .5em 1em .5em;}
    .button {
      padding: .5em 1.5em .5em 1.5em;
      font-size: small;
      }
    #elipses {font-size: medium;}
}

@media screen and (max-width: 400px) {
  .text {font-size: 1.5em;}
}

/* Font
@font-face {
  font-family: chalk;
  src: url("SqueakyChalkSound.woff");
}
*/
